<form action="<%= track.id.nil? ? album_tracks_url(album) : track_url(track) %>" method="post">
	<% if track.id %>
	<input type="hidden" name= "_method" value= "put">
	<% end %>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
 <label for="track_name">Track name: </label>
 <input
	 type="text" name="track[name]" id="track_name"
	 value="<%= track.name %>">
	 <br>
 <label for="track_lyrics">Lyrics:</label>
 <textarea name="track[lyrics]" id="track_lyrics"><%= track.lyrics %> </textarea>
 <br>
 <label for="track_story">Story:</label>
 <input type="text" id="track_story" name="track[story]" value="
 <%= track.story %>">
 <br>

 <label for="track_album_id">Album:</label>
 <select id="track_album_id" name="track[album_id]">
 <% Album.all.each do |album_thing| %>
	 <option value="<%= album_thing.id %>" <%= "selected" if album==album_thing %>><%= album_thing.name %></option>
 <% end %>
 </select>
 <br>

 Track type:<br>
 <input type="radio" name="track[track_type]"
 value="regular" id="track_track_type_regular"
 <%= "checked" if track.track_type == "regular" %>>

 <label for="track_track_type_regular">Regular</label>
 <br>

 <input type="radio" name="track[track_type]"
 id="track_track_type_bonus" value="bonus"
  <%= "checked" if track.track_type == "bonus" %>>

 <label for="track_track_type_bonus">Bonus</label>
 <br>
 <input type="submit" value="Save Track">
</form>