<form action="<%= album.id.nil? ? band_albums_url(band) : album_url(album) %>" method="post">
	<% if album.id %>
	<input type="hidden" name= "_method" value= "put">
	<% end %>
	<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
 <label for="album_name">album name: </label>
 <input
	 type="text" name="album[name]" id="album_name"
	 value="<%= album.name %>">
	 <br>
	 <label for= "album_band_id">Released by:</label>
	 <select id="album_band_id" name="album[band_id]">
		 <%Band.all.each do |band_thing|%>
		 <option value="<%= band_thing.id%>"><%= band_thing.name%></option>
		 <%end%>
	 </select>
	 <br>
 Album type:<br>
 <input type="radio" name="album[album_type]"
 value="studio" id="album_album_type_studio"
 <%= "checked" if album.album_type == "studio" %>>

 <label for="album_album_type_studio">Studio</label>
 <br>

 <input type="radio" name="album[album_type]"
 id="album_album_type_live" value="live"
  <%= "checked" if album.album_type == "live" %>>

 <label for="album_album_type_live">Live</label>
 <br>
 <input type="submit" value="Save album">
</form>