<h1><%= @band.name%></h1>


<% unless @band.albums.empty? %>
	<h1> Albums </h1>

	<ul>
	<% @band.albums.each do |album| %>
		<li><a href="<%= album_url(album) %>"> <%= album.name %></a> </li>
	<% end %>
	</ul>
<% end %>

<a href="<%= new_band_album_url(@band) %>">Add an album!</a>
<br>
<a href="<%= edit_band_url(@band)%>">Edit <%=@band.name%></a>